# Importing Python Packages

In [1]:
import openpyxl
import xlrd
import os
import glob

# import nltk (natural language tool kit)
import nltk
# stopwords, FreqDist, word_tokenize
from nltk.corpus import stopwords
from nltk import FreqDist, word_tokenize
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

In [2]:
# import python packages

import requests
from lxml import html
import csv
import pandas as pd

from os import path

import matplotlib.pyplot as plt
%matplotlib inline


#regular expression
import re
#csv
import csv
# Excel-like format
import pandas as pd
#data visualization
import matplotlib.pyplot as plt
% matplotlib inline

import numpy as np

import statsmodels.api as sm

import statsmodels.formula.api as smf

# Importing Data

## Opening the Correct Directory

In [3]:
os.chdir('C:\\Users\\millsj.ADMIN\\Desktop\\GENBA 894\\2018_DataChallenges_Teradata\\Donations\\')

In [7]:
# filenames
excel_names = ["2013 Bike Donations.xlsx", "2014 Bike Donations.xlsx", "2015 Bike Donations.xlsx","2016 Bike Donations.xlsx","2017 Bike Donations.xlsx"]

# read them in
excels = [pd.ExcelFile(name) for name in excel_names]

# turn them into dataframes
frames = [x.parse(x.sheet_names[0],index_col=None) for x in excels]

# delete the first row for all frames except the first
# i.e. remove the header row -- assumes it's the first
frames[1:] = [df[1:] for df in frames[1:]]

# concatenate them..
combined = pd.concat(frames)

# Check headers
combined.head(3)

,Security Category Name,Event ID,Public Event Name,Fiscal Year,Event Date,Campaign Title,Campaign ID,Gift Amount($),Date Recorded,Gift Type,...,Team Creation Date,Original Value Transacted,Net Transaction Amount,Ledger Transaction Amount,Proxy Type,User Confirmation Code,Source Code Type,Source Code Text,Sub Source Code Text,Batch ID
0,ARR Bike Events,21467,Bike MS: Rock'n Hot Ride 2013,2013,2013-09-07 13:34:00,"Arkansas, Little Rock - bike MS: Arkansas 2013",37233,50.0,2013-09-19 08:02:00,online,...,2013-02-13 09:58:00,50,50,50,TeamRaiser Participant,1638-37233-1-12589190-13049839,6,mail.yahoo.com,NaN,NaN
1,CAN Bike Events,20747,"California, Bike MS: Waves to Wine Ride 2013",2013,2013-09-21 10:53:00,Bike MS: Waves to Wine Ride 2013,36094,35.0,2013-09-09 18:55:00,online,...,2012-11-05 19:55:00,35,35,35,TeamRaiser Participant,1638-36094-1-12523987-12980208,NaN,NaN,NaN,NaN
2,CAN Bike Events,20747,"California, Bike MS: Waves to Wine Ride 2013",2013,2013-09-21 10:53:00,Bike MS: Waves to Wine Ride 2013,36094,50.0,2013-09-12 18:43:00,online,...,2012-11-05 16:57:00,50,50,50,TeamRaiser Participant,1638-36094-1-12547614-13005364,NaN,NaN,NaN,NaN

In [ ]:
# convert string to integers
#combined['Donor Accept Email'] = (combined['Donor Accept Email'] == 'TRUE').astype(int)

# Looking for Data Anomalies

In [ ]:
# List of all headers
# combined[['Security Category Name','Event ID','Public Event Name','Fiscal Year','Event Date','Campaign Title','Campaign ID','Gift Amount($)','Date Recorded','Gift Type','Gift Payment Method','Offline Status','Soft Credit Type','Is Registration?','Donor ConsID','Donor Member ID','Donor Affiliate Code','Donor Gender','Donor Accept Email','Donor Opt-out Date','Donor Opt-out Method','Donor Email Status','Donor City','Donor State','Donor County','Donor ZIP','Donor Employer','Donor Connection to MS','Participant Contact ID','Participant Member ID','Participation Type Name','Registration Active Status','Registration Date','Participant Goal($)','Is Prior Participant','Is Team Captain','Additional Gift Amount($)','Team Name','Team','Team Creation Date','Original Value Transacted','Net Transaction Amount','Ledger Transaction Amount','Proxy Type','User Confirmation Code','Source Code Type','Source Code Text','Sub Source Code Text','Batch ID']]

In [8]:
# counting zero values
print((combined[['Security Category Name','Event ID','Public Event Name','Fiscal Year','Event Date','Campaign Title','Campaign ID','Gift Amount($)','Date Recorded','Gift Type','Gift Payment Method','Offline Status','Soft Credit Type','Is Registration?','Donor ConsID','Donor Member ID','Donor Affiliate Code','Donor Gender','Donor Accept Email','Donor Opt-out Date','Donor Opt-out Method','Donor Email Status','Donor City','Donor State','Donor County','Donor ZIP','Donor Employer','Donor Connection to MS','Participant Contact ID','Participant Member ID','Participation Type Name','Registration Active Status','Registration Date','Participant Goal($)','Is Prior Participant','Is Team Captain','Additional Gift Amount($)','Team Name','Team','Team Creation Date','Original Value Transacted','Net Transaction Amount','Ledger Transaction Amount','Proxy Type','User Confirmation Code','Source Code Type','Source Code Text','Sub Source Code Text','Batch ID']] == 0).sum())

Security Category Name              0
Event ID                            0
Public Event Name                   0
Fiscal Year                         0
Event Date                          0
Campaign Title                      0
Campaign ID                         0
Gift Amount($)                 281753
Date Recorded                       0
Gift Type                           0
Gift Payment Method                 0
Offline Status                      0
Soft Credit Type                    0
Is Registration?              3429578
Donor ConsID                        0
Donor Member ID                     0
Donor Affiliate Code                0
Donor Gender                        0
Donor Accept Email            1911858
Donor Opt-out Date                  0
Donor Opt-out Method                0
Donor Email Status                  0
Donor City                          3
Donor State                         0
Donor County                        0
Donor ZIP                         801
Donor Employer                      0
Donor Connection to MS              0
Participant Contact ID              0
Participant Member ID               0
Participation Type Name             0
Registration Active Status          0
Registration Date                   0
Participant Goal($)             61630
Is Prior Participant                9
Is Team Captain               3267507
Additional Gift Amount($)     2959941
Team Name                           0
Team                                0
Team Creation Date                  0
Original Value Transacted          14
Net Transaction Amount             29
Ledger Transaction Amount           1
Proxy Type                          0
User Confirmation Code              0
Source Code Type                    0
Source Code Text                    0
Sub Source Code Text                1
Batch ID                            2
dtype: int64

In [9]:
# Counting missing values
combinednull=(combined[['Security Category Name','Event ID','Public Event Name','Fiscal Year','Event Date','Campaign Title','Campaign ID','Gift Amount($)','Date Recorded','Gift Type','Gift Payment Method','Offline Status','Soft Credit Type','Is Registration?','Donor ConsID','Donor Member ID','Donor Affiliate Code','Donor Gender','Donor Accept Email','Donor Opt-out Date','Donor Opt-out Method','Donor Email Status','Donor City','Donor State','Donor County','Donor ZIP','Donor Employer','Donor Connection to MS','Participant Contact ID','Participant Member ID','Participation Type Name','Registration Active Status','Registration Date','Participant Goal($)','Is Prior Participant','Is Team Captain','Additional Gift Amount($)','Team Name','Team','Team Creation Date','Original Value Transacted','Net Transaction Amount','Ledger Transaction Amount','Proxy Type','User Confirmation Code','Source Code Type','Source Code Text','Sub Source Code Text','Batch ID']])

print(combinednull.isnull().sum())

Security Category Name              0
Event ID                            0
Public Event Name                   0
Fiscal Year                         0
Event Date                         42
Campaign Title                      0
Campaign ID                         0
Gift Amount($)                      0
Date Recorded                       0
Gift Type                           0
Gift Payment Method                 0
Offline Status                3026555
Soft Credit Type                    0
Is Registration?                    0
Donor ConsID                        0
Donor Member ID                  4928
Donor Affiliate Code            15079
Donor Gender                   483830
Donor Accept Email                969
Donor Opt-out Date            1955161
Donor Opt-out Method          1946013
Donor Email Status             208623
Donor City                        787
Donor State                     25953
Donor County                    74054
Donor ZIP                         983
Donor Employer                3032142
Donor Connection to MS        1897959
Participant Contact ID          42369
Participant Member ID           47053
Participation Type Name         43824
Registration Active Status      43824
Registration Date               43824
Participant Goal($)                 2
Is Prior Participant          1480738
Is Team Captain                 43823
Additional Gift Amount($)           2
Team Name                      505044
Team                           505043
Team Creation Date             505040
Original Value Transacted           0
Net Transaction Amount              0
Ledger Transaction Amount           0
Proxy Type                          0
User Confirmation Code             23
Source Code Type              2687470
Source Code Text              2688002
Sub Source Code Text          2889107
Batch ID                      3081965
dtype: int64

In [10]:
#compute count of values in columns
combined['Donor Gender'].value_counts()

# initial results yielded the following results:
#F              17
#True            7
#False           6
#Femala          4
#U               3
#Feiale          2
#M               2
#Famale          1
#Iale            1

# All were corrected to Male and Female except for "U", which is used by facebook to denote a custom gender

Male      1672368
Female    1651171
U               3
Name: Donor Gender, dtype: int64

In [11]:
#compute count of values in columns
combined['Donor Connection to MS'].value_counts()

#Initial results identified numerous errors that all appeared to be a result of import errors into the original data set. nearly all were off a column because of a "(" being entered rather than a comma
#examples include the following:
#14818518                                        1
#12057647                                        1
#12694296                                        1
#15293891                                        1
#9588529                                         1
#2157460                                         1
#Relative has MS(12975626                        1
#12602902                                        1
#(14068228                                       1
#10169576                                        1
#Other(15767842                                  1
#12745283                                        1
#(4564506                                        1
#Bhank                                           1

# Also deleted "Blank", changed "no connection" to "None", and standardized the relatives

Friend has MS                           834351
None                                    346950
Relative has MS                         310524
Other                                   131006
I have MS                                94669
Sibling has MS                           60055
Parent has MS                            52146
Spouse has MS                            35669
Child has MS                             30501
I have a Friend or Co-worker with MS      9876
Caregiver of Person with MS               2049
Possible MS                                876
Care Manager of Person with MS             741
Name: Donor Connection to MS, dtype: int64

In [12]:
#compute count of values in columns
combined['Public Event Name'].value_counts()

2015 BP MS 150                                                   167964
Texas, Houston - 2014 BP MS 150                                  164425
2013 BP MS 150                                                   155332
2016 BP MS 150                                                   128459
2017 BP MS 150                                                   113976
New Jersey, Cherry Hill  Bike MS: City to Shore 2013              78151
New Jersey, Cherry Hill  Bike MS: City to Shore 2014              77751
Bike MS: City to Shore Ride 2015                                  67060
Bike MS: City to Shore Ride 2016                                  59173
Bike MS: City to Shore Ride 2017                                  55658
Minnesota - Bike MS: C.H. Robinson MS 150 Ride 2013               40607
Bike MS: C.H. Robinson MS 150 Ride 2015                           38233
Bike MS: C.H. Robinson MS 150 Ride 2016                           37818
Bike MS: C.H. Robinson MS 150 Ride 2014                           37153
Bike MS: MS 150 Ride 2017                                         35731
Newmont Bike MS 2013 presented by Point B                         34996
Bike MS: New York City 2013                                       34568
2012 Bike MS New York City                                        34532
Newmont Bike MS 2014 presented by Point B                         34430
Massachusetts - Bike MS: Cape Cod Getaway 2013                    30452
Bike MS: Colorado 2015                                            30276
Colorado Bike MS: Locally powered by Anthem                       30147
Bike MS: New York City 2014                                       29586
Bike MS: Colorado 2017 powered locally by Anthem                  28382
Bike MS: New York City 2016                                       27844
Bike MS: Cape Cod Getaway 2016                                    26326
Massachusetts - Bike MS: Cape Cod Getaway 2014                    26300
Bike MS: Cape Cod Getaway 2015                                    25886
Bike MS: Cape Cod Getaway 2017                                    25230
Bike MS: New York City 2015                                       25011
                                                                  ...
VAX - 2013 MS Great 8 Tour Du Lac                                    17
CAS Bike MS 2012 - Volunteers                                        17
Bike MS: Great Maine Getaway 2016 - Registrations Only               16
MNM 2016 Bike MS: Iowa Ride (temporary)                              15
Texas, Houston - Volunteers - 2015 BP MS 150                         14
Wyoming - Bike MS 2014 Volunteer                                     12
MIG 2013 Bike MS Sponsorship                                         12
Colorado - Bike MS 2013 Volunteer, Fort Collins Loop                 12
Bike Blueprint 2017                                                  10
Bike Blueprint 2015                                                   9
CAS Bike MS 2013 - Volunteers                                         9
Bike MS: Praxair Ride, presented by Louis Dreyfus Commodities         8
Texas, Houston - Volunteers - 2014 BP MS 150                          6
2016 BP MS 150 Skilled Volunteers                                     6
OHG 2015 Bike MS: Cincinnati                                          5
Colorado - Bike MS 2014 Volunteer, Fort Collins Loop                  5
Bike MS: Bike Blueprint 2016                                          3
Texas, Houston - Transportation - 2015 BP MS 150                      2
Bike MS: Elkhart 2017 (TEST)                                          2
Wyoming - Bike MS 2013 Volunteer                                      2
Bike MS: City to Shora Ride 2016                                      2
NJM -  2013 MS Great 8 Tour Du Lac                                    1
Bike MS: Toqr de Beach 2016                                           1
n/a 1                                                                 1
2013 Bike MS Ride                                                     1
Bike MS: C*H. Robinson MS 150 Ride 2014                               1
Bike MS: City to Shora Ride 2017                                      1
KYW 2015 Bike MS: Bluegrass, Bikes, Boqrbon & BBQ                     1
Cohorado Bike MS: Locally powered by Anthem                           1
Bike MS: Wavas to Wine Ride 2015                                      1
Name: Public Event Name, Length: 509, dtype: int64

In [13]:
#compute count of values in columns
combined['Donor Email Status'].value_counts()

# cleaned all typos, original results included the following:
#Good                 2991980
#Unknown               274603
#Bad (Hard Bounce)     242757
#Bad (Soft Bounce)      89404
#Bad (Sofp Bounce)          1
#Cood                       1
#Bad (Soft Bkunce)          1
#Gkod                       1
#Goo`                       1

Good                 2991982
Unknown               274604
Bad (Hard Bounce)     242757
Bad (Soft Bounce)      89406
Name: Donor Email Status, dtype: int64

In [14]:
#compute count of values in columns
combined['Donor City'].value_counts()

# found street addresses in original data, corrected to the appropriate city column

Houston             253784
New York             46363
Minneapolis          38137
Austin               36678
Princeton            36174
Denver               35857
Katy                 34959
Philadelphia         33675
Saint Louis          28408
Spring               27624
Chicago              26749
Dallas               26418
Seattle              24972
San Antonio          24726
San Francisco        23310
Pittsburgh           22933
Sugar Land           19469
Raleigh              18726
Saint Paul           18241
Cypress              17560
Brooklyn             16472
Richmond             16294
Jacksonville         15728
San Diego            15266
Charlotte            15202
Kansas City          13754
Portland             13661
Washington           13609
Los Angeles          13140
Cincinnati           12981
                     ...
Elk river                1
Radcliffe                1
e. providence            1
Wick, Caithness          1
Zuienkerke               1
Auror                    1
S?o paulo                1
DISS                     1
Careywood                1
Cobb Island              1
Ft Laudedale             1
McKinnon                 1
Pincher Creek            1
mllburn                  1
BORDEAUX                 1
Glyndonq                 1
Ballyboughal             1
N. Syracuse              1
DAHLONEGA                1
Carrickmore              1
Rangiroa                 1
Presteigne               1
Algiers                  1
Wisborough Green         1
Woodland Mills           1
SANDWICH                 1
Arrey                    1
SUssex                   1
Ft. Leavenworth          1
N Cambria                1
Name: Donor City, Length: 32573, dtype: int64

In [15]:
#compute count of values in columns
combined['Donor ZIP'].value_counts()

8543       33831
77494      17960
77007      13691
77479      12548
77024      12019
77450      11355
77008      11145
77079      10196
77054      10003
44236       9537
77077       9259
77005       9153
77429       9094
75006       8691
77379       8689
77056       8000
77433       7887
77019       7413
77459       7332
77095       7259
44131       6892
1810        6747
19103       6703
77381       6674
77382       6644
77584       6567
77057       6292
80209       6211
77401       6169
77006       6064
           ...
238142         1
47436          1
47447          1
SW152RQ        1
47453          1
T3H5T6         1
AB423FT        1
47359          1
238549         1
238361         1
238539         1
E13JE          1
SW1V2LX        1
47306          1
47308          1
G813RJ         1
KT146AX        1
47326          1
SG142WF        1
238406         1
GU146NN        1
Ts185au        1
47336          1
B5A2G8         1
47339          1
L7G4J4         1
TR96LS         1
47351          1
47353          1
1078LH         1
Name: Donor ZIP, Length: 52664, dtype: int64

In [16]:
#compute count of values in columns
combined['Donor Employer'].value_counts()

# Original results had multiple versions of Retired, Self employed, and company names (e.g. Alabama Power Company and Alabama Power Co); corrected the obvious, changed all cases to upper and left them as is if unknown

SELF EMPLOYED                                   18688
RETIRED                                         14346
TXH ANONYMOUS DONOR CIC                          7679
OHA ANONYMOUS DONOR CIC                          5885
PAX ANONYMOUS DONOR CIC                          4788
BP FOUNDATION MATCHING GIFTS                     4757
MNM ANONYMOUS DONOR CIC                          4736
BANK OF AMERICA CHARITABLE FOUNDATION            4144
PAE ANONYMOUS DONOR CIC                          4104
GE FOUNDATION MATCHING GIFTS                     3718
CHEVRON (YOURCAUSE)                              3359
BP                                               3281
SHELL OIL COMPANY MATCHING GIFTS                 3215
KSG ANONYMOUS DONOR CIC                          2764
CONOCOPHILLIPS MATCHING GIFT PROGRAM             2441
JOHNSON & JOHNSON MATCHING GIFTS                 2359
NONE                                             2336
MAM ANONYMOUS DONOR CIC                          2222
MICROSOFT VOLUNTEER MANAGER                      2213
PRIMAL WEAR INC                                  2178
FLN ANONYMOUS DONOR CIC                          2037
NCT ANONYMOUS DONOR CIC                          1945
MOS ANONYMOUS DONOR CIC                          1801
NO                                               1762
UTU ANONYMOUS DONOR CIC                          1744
EXXONMOBIL                                       1720
WELLS FARGO                                      1679
DELOITTE                                         1667
BHP BILLITON PETROLEUM MATCHED GIVING            1664
STUDENT                                          1662
                                                ...
GOYETTE PROJECT MANAGEMENT                          1
PINE REST                                           1
145 MARSTON STREET, INC.                            1
MARKET VISION                                       1
DISNEY/ABC                                          1
FOSTER FAMILY & SPORTS CHIRO                        1
FRANCIS HOWELL                                      1
OUTLAWS BAR  & GRILL                                1
FIRST CLEARING, LLC                                 1
ALTMEYER FUNERAL HOME                               1
COMMERCE GROUP                                      1
MILPITAS UNIFIED SCHOOL DISTRICT                    1
MH SALES AND MARKETING                              1
BLUMENTHAL  & COMPANY, INC                          1
ABERNATHY  & ASSOCIATES INC                         1
CHARLES SCHWAB CORP FOUNDATION                      1
KNAPP CHEVROLET, INC.                               1
DRUMS ACROSS KANSAS, INC                            1
BARR & CLARK INC                                    1
THE FARM COMPANIES LLC                              1
CB ELECTRIC                                         1
GENERAL MAINTENANCE & LIGHTING PRODUCTS, LTD        1
IOWA STATE PATROL                                   1
AVOYELLES HOSPITAL                                  1
IMANY                                               1
ROTHMAN FURNITURE                                   1
MT. PLEASANT AREA SCHOOL DISTRICT                   1
GOLDMAN SACH                                        1
COURION CORPORATION                                 1
PRECIOUS SECONDS                                    1
Name: Donor Employer, Length: 98517, dtype: int64

In [17]:
#compute count of values in columns
combined['Gift Payment Method'].value_counts()

# original results showed a "Credit Car`" result, which was corrected to Credit Card

Credit Card    3068986
Check           658483
Cash             79903
Name: Gift Payment Method, dtype: int64

# Describing Data

In [18]:
combined.describe()

,Event ID,Fiscal Year,Campaign ID,Gift Amount($),Donor ConsID,Participant Contact ID
count,3.807372e+06,3.807372e+06,3.807372e+06,3.807372e+06,3.807372e+06,3.765003e+06
mean,2.427427e+04,2.014830e+03,3.864334e+04,9.176821e+01,1.114265e+07,9.583535e+06
std,3.047823e+03,1.398313e+00,3.807033e+03,3.818845e+02,3.890505e+06,4.513583e+06
min,1.796600e+04,2.011000e+03,4.328000e+03,0.000000e+00,1.361581e+06,1.566043e+06
25%,2.150700e+04,2.014000e+03,3.555500e+04,2.500000e+01,8.629686e+06,5.874081e+06
50%,2.491600e+04,2.015000e+03,3.653300e+04,5.000000e+01,1.233783e+07,1.051616e+07
75%,2.704800e+04,2.016000e+03,4.147400e+04,1.000000e+02,1.420022e+07,1.348215e+07
max,2.917500e+04,2.017000e+03,4.514700e+04,1.491750e+05,1.636616e+07,1.636564e+07

In [19]:
# counting 1 values

print((combined[['Security Category Name','Event ID','Public Event Name','Fiscal Year','Event Date','Campaign Title','Campaign ID','Gift Amount($)','Date Recorded','Gift Type','Gift Payment Method','Offline Status','Soft Credit Type','Is Registration?','Donor ConsID','Donor Member ID','Donor Affiliate Code','Donor Gender','Donor Accept Email','Donor Opt-out Date','Donor Opt-out Method','Donor Email Status','Donor City','Donor State','Donor County','Donor ZIP','Donor Employer','Donor Connection to MS','Participant Contact ID','Participant Member ID','Participation Type Name','Registration Active Status','Registration Date','Participant Goal($)','Is Prior Participant','Is Team Captain','Additional Gift Amount($)','Team Name','Team','Team Creation Date','Original Value Transacted','Net Transaction Amount','Ledger Transaction Amount','Proxy Type','User Confirmation Code','Source Code Type','Source Code Text','Sub Source Code Text','Batch ID']] == 1).sum())

Security Category Name              0
Event ID                            0
Public Event Name                   0
Fiscal Year                         0
Event Date                          0
Campaign Title                      0
Campaign ID                         0
Gift Amount($)                    535
Date Recorded                       0
Gift Type                           0
Gift Payment Method                 0
Offline Status                      0
Soft Credit Type                    0
Is Registration?               377791
Donor ConsID                        0
Donor Member ID                     0
Donor Affiliate Code                0
Donor Gender                        0
Donor Accept Email            1894543
Donor Opt-out Date                  0
Donor Opt-out Method                0
Donor Email Status                  0
Donor City                          3
Donor State                         0
Donor County                        0
Donor ZIP                          46
Donor Employer                      0
Donor Connection to MS              0
Participant Contact ID              0
Participant Member ID               0
Participation Type Name             0
Registration Active Status          0
Registration Date                   0
Participant Goal($)                 7
Is Prior Participant                2
Is Team Captain                496034
Additional Gift Amount($)         152
Team Name                           2
Team                                0
Team Creation Date                  0
Original Value Transacted         419
Net Transaction Amount            531
Ledger Transaction Amount         419
Proxy Type                          0
User Confirmation Code              0
Source Code Type                    0
Source Code Text                    0
Sub Source Code Text                0
Batch ID                            2
dtype: int64

# FIRST PRIORITY: CORPORATE ACQUISITION
  * What are the greatest growth opportunities for new corporate teams?
  * Can we apply those opportunities to specific rides/markets, especially our biggest events?
  * What industries have had the strongest involvement in Bike MS in the last five years?
  * What occupations were responsible for most of our fundraising?
  * Can we tie together these industries and occupations to identify gaps/opportunities?
  * What is the common denominator for our top performing corporate teams? (Is it industry, culture, executive involvement, connection to MS, other?)
  * Can we quantify the effect competing events are having in our top markets? 
Top competitors:
   1. Best Buddies
     * HYANNIS PORT June 2, 2018 Boston to Hyannis Port, MA
     * HEARST CASTLE September 8, 2018 San Simeon, CA
     * MIAMI November 16, 2018 Miami, FL
   2. Peddle the Cause
     * Louis
     * San Diego
   3. Pelatonia â€“ OH
   4. PanMass Challenge - Boston
   5. ADA â€“ Tour de Cure
   6. Jude Childrenâ€™s Research Hospital
   7. JDRF Ride to Cure Diabetes
   8. Cycle for Life - Cystic Fibrosis Foundation
   9. Ride to Recovery
   10. Virtual Cycling
   11. Athletic Club Stationary Cycling Relays
   12. American Cancer Society
   13. Leukemia and Lymphoma Society â€“ Team in Training

# SECOND PRIORITY: DIGITAL/SOCIAL ACQUISITION
  * What are the greatest opportunities for digital marketing investments? Where have we seen the greatest ROI?
  * Once someone is registered, what tactics and behaviors drive fundraising, and at what times leading up to the event?
  * What behavioral data do you see about usage of our fundraising tools and how it may or may not relate to performance of top fundraisers?
  * Despite increasing our digital advertising spend, acquisition continues to trend downward overall. Why? Is it an issue of needing more traffic, better targeting, or a conversion rate issue that needs to be addressed through the registration process? What can we do to reverse the trend?

# FINALLY:
  * As you studied this data, is there something else that came up as an insight into our operations that the questions above do not capture?

# Descriptive Analytics