# Importing Python Packages

In [1]:
import openpyxl
import xlrd
import os
import glob

from pandas import DataFrame as df
from scipy.stats import trim_mean, kurtosis
from scipy.stats.mstats import mode, gmean, hmean

In [2]:
# import python packages

# import nltk (natural language tool kit)
import nltk
# stopwords, FreqDist, word_tokenize
from nltk.corpus import stopwords
from nltk import FreqDist, word_tokenize
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

import requests
from lxml import html
import csv
import pandas as pd

from os import path

import matplotlib.pyplot as plt
%matplotlib inline


#regular expression
import re
#csv
import csv
# Excel-like format
import pandas as pd
#data visualization
import matplotlib.pyplot as plt
% matplotlib inline

import numpy as np

import statsmodels.api as sm

import statsmodels.formula.api as smf

# Importing Data

## Opening the Correct Directory

In [3]:
os.chdir('C:\\Users\\millsj.ADMIN\\Desktop\\GENBA 894\\2018_DataChallenges_Teradata\\Google Analytics\\')

## Goal 1

In [10]:
# filenames
excel_names = ["Analytics Bike MS - Luminate Pages Acquisition Overview Goal 1 Indiv Reg  20160401-20171214.xlsx"]

# read them in
excels = [pd.ExcelFile(name) for name in excel_names]

# turn them into dataframes
frames = [x.parse(x.sheet_names[0],index_col=None) for x in excels]

# delete the first row for all frames except the first
# i.e. remove the header row -- assumes it's the first
frames[1:] = [df[1:] for df in frames[1:]]

# concatenate them..
analyticsG1 = pd.concat(frames)

# Check headers
analyticsG1.head(3)

,Default Channel Grouping,Sessions,% New Sessions,New Users,Bounce Rate,Pages / Session,Avg. Session Duration,Bike Registrations - Individual with Payment (Goal 1 Conversion Rate),Bike Registrations - Individual with Payment (Goal 1 Completions),Bike Registrations - Individual with Payment (Goal 1 Value)
0,Direct,3667732,0.6016,2206526,0.3444,2.57,00:03:34,0.0151,55491,0
1,Organic Search,2172320,0.3538,768553,0.2986,3.13,00:03:59,0.0060,13091,0
2,Social,1767577,0.5825,1029664,0.5221,1.89,00:02:08,0.0010,1718,0

In [11]:
analyticsG1

,Default Channel Grouping,Sessions,% New Sessions,New Users,Bounce Rate,Pages / Session,Avg. Session Duration,Bike Registrations - Individual with Payment (Goal 1 Conversion Rate),Bike Registrations - Individual with Payment (Goal 1 Completions),Bike Registrations - Individual with Payment (Goal 1 Value)
0,Direct,3667732,0.6016,2206526,0.3444,2.57,00:03:34,0.0151,55491,0
1,Organic Search,2172320,0.3538,768553,0.2986,3.13,00:03:59,0.0060,13091,0
2,Social,1767577,0.5825,1029664,0.5221,1.89,00:02:08,0.0010,1718,0
3,Other,835994,0.6698,559925,0.5288,1.41,00:00:58,0.0046,3849,0
4,Referral,248949,0.4092,101860,0.3454,2.85,00:03:44,0.0091,2253,0
5,Display,155828,0.7504,116933,0.7624,1.39,00:00:43,0.0002,31,0
6,Paid Search,85724,0.3764,32269,0.4116,2.12,00:02:24,0.0065,553,0
7,Email,32970,0.3091,10191,0.3696,2.60,00:03:20,0.0113,371,0
8,Total,8967094,0.5382,4825921,0.3935,2.45,00:03:05,0.0086,77357,0

## Goal 2

In [12]:
# filenames
excel_names = ["Analytics Bike MS - Luminate Pages Acquisition Overview Goal 2 Start New Team 20160401-20171214.xlsx"]

# read them in
excels = [pd.ExcelFile(name) for name in excel_names]

# turn them into dataframes
frames = [x.parse(x.sheet_names[0],index_col=None) for x in excels]

# delete the first row for all frames except the first
# i.e. remove the header row -- assumes it's the first
frames[1:] = [df[1:] for df in frames[1:]]

# concatenate them..
analyticsG2 = pd.concat(frames)

# Check headers
analyticsG2.head(3)

,Default Channel Grouping,Sessions,% New Sessions,New Users,Bounce Rate,Pages / Session,Avg. Session Duration,Bike Registrations - Start New Team Member (Goal 2 Conversion Rate),Bike Registrations - Start New Team Member (Goal 2 Completions),Bike Registrations - Start New Team Member (Goal 2 Value)
0,Direct,3667732,0.601605,2206526,0.344366,2.568489,214.016096,0.015130,55491,0
1,Organic Search,2172320,0.353794,768553,0.298567,3.127838,238.646492,0.006026,13091,0
2,Social,1767577,0.582529,1029664,0.522111,1.894573,128.066674,0.000972,1718,0

In [13]:
analyticsG2

,Default Channel Grouping,Sessions,% New Sessions,New Users,Bounce Rate,Pages / Session,Avg. Session Duration,Bike Registrations - Start New Team Member (Goal 2 Conversion Rate),Bike Registrations - Start New Team Member (Goal 2 Completions),Bike Registrations - Start New Team Member (Goal 2 Value)
0,Direct,3667732,0.601605,2206526,0.344366,2.568489,214.016096,0.015130,55491,0
1,Organic Search,2172320,0.353794,768553,0.298567,3.127838,238.646492,0.006026,13091,0
2,Social,1767577,0.582529,1029664,0.522111,1.894573,128.066674,0.000972,1718,0
3,Other,835994,0.669772,559925,0.528774,1.411316,57.728920,0.004604,3849,0
4,Referral,248949,0.409160,101860,0.345360,2.848266,224.497242,0.009050,2253,0
5,Display,155828,0.750398,116933,0.762385,1.388768,43.320456,0.000199,31,0
6,Paid Search,85724,0.376429,32269,0.411565,2.117598,143.877397,0.006451,553,0
7,Email,32970,0.309099,10191,0.369609,2.601001,200.056536,0.011253,371,0
8,Total,8967094,0.538181,4825921,0.393527,2.446346,185.073055,0.008627,77357,0

## Goal 3

In [14]:
# filenames
excel_names = ["Analytics Bike MS - Luminate Pages Acquisition Overview Goal 3 Join Team 20160401-20171214 (1).xlsx"]

# read them in
excels = [pd.ExcelFile(name) for name in excel_names]

# turn them into dataframes
frames = [x.parse(x.sheet_names[0],index_col=None) for x in excels]

# delete the first row for all frames except the first
# i.e. remove the header row -- assumes it's the first
frames[1:] = [df[1:] for df in frames[1:]]

# concatenate them..
analyticsG3 = pd.concat(frames)

# Check headers
analyticsG3.head(3)

,Default Channel Grouping,Sessions,% New Sessions,New Users,Bounce Rate,Pages / Session,Avg. Session Duration,Bike Registration - Join a Team (Goal 3 Conversion Rate),Bike Registration - Join a Team (Goal 3 Completions),Bike Registration - Join a Team (Goal 3 Value)
0,Direct,3667732,0.601605,2206526,0.344366,2.568489,214.016096,0.015070,55274,0
1,Organic Search,2172320,0.353794,768553,0.298567,3.127838,238.646492,0.005966,12959,0
2,Social,1767577,0.582529,1029664,0.522111,1.894573,128.066674,0.000967,1709,0

In [15]:
analyticsG3

,Default Channel Grouping,Sessions,% New Sessions,New Users,Bounce Rate,Pages / Session,Avg. Session Duration,Bike Registration - Join a Team (Goal 3 Conversion Rate),Bike Registration - Join a Team (Goal 3 Completions),Bike Registration - Join a Team (Goal 3 Value)
0,Direct,3667732,0.601605,2206526,0.344366,2.568489,214.016096,0.015070,55274,0
1,Organic Search,2172320,0.353794,768553,0.298567,3.127838,238.646492,0.005966,12959,0
2,Social,1767577,0.582529,1029664,0.522111,1.894573,128.066674,0.000967,1709,0
3,Other,835994,0.669772,559925,0.528774,1.411316,57.728920,0.004578,3827,0
4,Referral,248949,0.409160,101860,0.345360,2.848266,224.497242,0.008958,2230,0
5,Display,155828,0.750398,116933,0.762385,1.388768,43.320456,0.000199,31,0
6,Paid Search,85724,0.376429,32269,0.411565,2.117598,143.877397,0.006381,547,0
7,Email,32970,0.309099,10191,0.369609,2.601001,200.056536,0.011253,371,0
8,Total,8967094,0.538181,4825921,0.393527,2.446346,185.073055,0.008581,76948,0

## Goal 4

In [16]:
# filenames
excel_names = ["Analytics Bike MS - Luminate Pages Acquisition Overview Goal 4 Join from Team Page 20160401-20171214.xlsx"]

# read them in
excels = [pd.ExcelFile(name) for name in excel_names]

# turn them into dataframes
frames = [x.parse(x.sheet_names[0],index_col=None) for x in excels]

# delete the first row for all frames except the first
# i.e. remove the header row -- assumes it's the first
frames[1:] = [df[1:] for df in frames[1:]]

# concatenate them..
analyticsG4 = pd.concat(frames)

# Check headers
analyticsG4.head(3)

,Default Channel Grouping,Sessions,% New Sessions,New Users,Bounce Rate,Pages / Session,Avg. Session Duration,Bike Registration - Join Team from Team Page (Goal 4 Conversion Rate),Bike Registration - Join Team from Team Page (Goal 4 Completions),Bike Registration - Join Team from Team Page (Goal 4 Value)
0,Direct,3667732,0.601605,2206526,0.344366,2.568489,214.016096,0.015070,55274,0
1,Organic Search,2172320,0.353794,768553,0.298567,3.127838,238.646492,0.005966,12959,0
2,Social,1767577,0.582529,1029664,0.522111,1.894573,128.066674,0.000967,1709,0

In [17]:
analyticsG4

,Default Channel Grouping,Sessions,% New Sessions,New Users,Bounce Rate,Pages / Session,Avg. Session Duration,Bike Registration - Join Team from Team Page (Goal 4 Conversion Rate),Bike Registration - Join Team from Team Page (Goal 4 Completions),Bike Registration - Join Team from Team Page (Goal 4 Value)
0,Direct,3667732,0.601605,2206526,0.344366,2.568489,214.016096,0.015070,55274,0
1,Organic Search,2172320,0.353794,768553,0.298567,3.127838,238.646492,0.005966,12959,0
2,Social,1767577,0.582529,1029664,0.522111,1.894573,128.066674,0.000967,1709,0
3,Other,835994,0.669772,559925,0.528774,1.411316,57.728920,0.004578,3827,0
4,Referral,248949,0.409160,101860,0.345360,2.848266,224.497242,0.008958,2230,0
5,Display,155828,0.750398,116933,0.762385,1.388768,43.320456,0.000199,31,0
6,Paid Search,85724,0.376429,32269,0.411565,2.117598,143.877397,0.006381,547,0
7,Email,32970,0.309099,10191,0.369609,2.601001,200.056536,0.011253,371,0
8,Total,8967094,0.538181,4825921,0.393527,2.446346,185.073055,0.008581,76948,0

## Locations

In [18]:
# filenames
excel_names = ["Analytics Bike MS - Luminate Pages Location 20160401-20171214.xlsx"]

# read them in
excels = [pd.ExcelFile(name) for name in excel_names]

# turn them into dataframes
frames = [x.parse(x.sheet_names[0],index_col=None) for x in excels]

# delete the first row for all frames except the first
# i.e. remove the header row -- assumes it's the first
frames[1:] = [df[1:] for df in frames[1:]]

# concatenate them..
analyticsLoc = pd.concat(frames)

# Check headers
analyticsLoc.head(3)

analyticsLoc

,Region,Sessions,% New Sessions,New Users,Bounce Rate,Pages / Session,Avg. Session Duration,Bike Registrations - Individual with Payment (Goal 1 Conversion Rate),Bike Registrations - Individual with Payment (Goal 1 Completions),Bike Registrations - Individual with Payment (Goal 1 Value)
0,Texas,1539017,0.480720,739837,0.371443,2.536194,193.566748,0.010357,15940,0
1,California,764019,0.570418,435810,0.452630,2.213495,167.230007,0.006666,5093,0
2,New York,594162,0.577799,343306,0.394397,2.408143,182.202207,0.010007,5946,0
3,Pennsylvania,576836,0.505719,291717,0.374691,2.573936,200.361777,0.009656,5570,0
4,Minnesota,440328,0.487232,214542,0.319646,2.575837,203.198781,0.008873,3907,0
5,Illinois,405891,0.545011,221215,0.382287,2.317972,175.127480,0.006433,2611,0
6,New Jersey,386352,0.525705,203107,0.367010,2.572600,199.152894,0.009393,3629,0
7,Massachusetts,353577,0.517129,182845,0.343436,2.526030,200.073130,0.008360,2956,0
8,North Carolina,334796,0.531359,177897,0.427547,2.442039,185.747933,0.008626,2888,0
9,Florida,309568,0.525083,162549,0.387744,2.546723,193.328729,0.009726,3011,0
10,Colorado,295264,0.508477,150135,0.342734,2.506120,198.351777,0.009334,2756,0
11,Ohio,251688,0.537729,135340,0.379708,2.539728,191.680418,0.008264,2080,0
12,Missouri,243882,0.504424,123020,0.392678,2.640658,204.453888,0.009496,2316,0
13,Washington,232953,0.575876,134152,0.465867,2.371968,166.439595,0.008551,1992,0
14,Wisconsin,192812,0.544432,104973,0.398704,2.460858,185.868017,0.007691,1483,0
15,Virginia,159458,0.597229,95233,0.400776,2.448444,179.149055,0.007921,1263,0
16,Michigan,142565,0.564073,80417,0.406797,2.333062,168.594887,0.005794,826,0
17,Georgia,131709,0.560114,73772,0.411065,2.374773,182.386747,0.007562,996,0
18,District of Columbia,111822,0.553540,61898,0.438796,2.100669,142.366064,0.004185,468,0
19,Utah,100824,0.542272,54674,0.391554,2.177864,149.454148,0.009760,984,0
20,Maryland,86094,0.546449,47046,0.333821,2.658919,209.369294,0.007852,676,0
21,Louisiana,78675,0.516606,40644,0.371541,2.747277,205.083495,0.010931,860,0
22,Tennessee,78173,0.530733,41489,0.401763,2.536464,192.106968,0.009070,709,0
23,Connecticut,77589,0.583588,45280,0.356275,2.644267,187.848174,0.010233,794,0
24,Oregon,77202,0.548263,42327,0.446336,2.335315,178.277519,0.006412,495,0
25,Kansas,68192,0.544463,37128,0.424493,2.501760,187.391498,0.010104,689,0
26,Arizona,52401,0.575771,30171,0.368371,2.520200,195.484895,0.008301,435,0
27,Delaware,46750,0.530310,24792,0.362332,2.633775,211.561455,0.010032,469,0
28,Rhode Island,44765,0.509438,22805,0.331353,2.713102,198.061142,0.008511,381,0
29,Indiana,43966,0.591048,25986,0.375154,2.394236,170.838284,0.007415,326,0
30,Alabama,42059,0.538291,22640,0.368910,2.650229,201.585059,0.010866,457,0
31,Oklahoma,41728,0.516775,21564,0.381375,2.549727,194.904549,0.009538,398,0
32,(not set),39786,0.953853,37950,0.760016,1.133514,18.077766,0.000679,27,0
33,Nebraska,34314,0.555896,19075,0.433176,2.367955,164.345369,0.007111,244,0
34,South Carolina,32562,0.596032,19408,0.422978,2.375560,182.399054,0.006572,214,0
35,Iowa,31778,0.581314,18473,0.382906,2.404934,178.557996,0.009535,303,0
36,New Hampshire,31463,0.532149,16743,0.349045,2.506023,209.032069,0.008518,268,0
37,Nevada,29922,0.577201,17271,0.430920,2.405488,160.649422,0.007753,232,0
38,Kentucky,27488,0.570649,15686,0.381148,2.568139,184.805915,0.008003,220,0
39,Arkansas,26113,0.504385,13171,0.369165,2.622104,192.027036,0.008042,210,0
40,Maine,23528,0.544160,12803,0.379548,2.450697,192.720716,0.008501,200,0
41,New Mexico,22158,0.517285,11462,0.345699,2.781524,224.424632,0.010109,224,0
42,Idaho,20959,0.568300,11911,0.374254,2.088268,142.587814,0.006727,141,0
43,Mississippi,13554,0.644459,8735,0.430353,2.366165,156.849122,0.007378,100,0
44,South Dakota,11942,0.545805,6518,0.346341,2.782532,197.748032,0.010467,125,0
45,Montana,11726,0.600375,7040,0.404230,2.306840,161.774859,0.006225,73,0
46,Wyoming,10908,0.560048,6109,0.350843,2.616795,180.648148,0.010268,112,0
47,West Virginia,10693,0.571963,6116,0.393435,2.593285,196.179650,0.010100,108,0
48,North Dakota,9221,0.583451,5380,0.378267,2.317753,161.203774,0.006290,58,0
49,Vermont,9171,0.563406,5167,0.358085,2.483917,194.503762,0.007633,70,0
50,Alaska,8782,0.586085,5147,0.317468,2.431792,179.788772,0.009565,84,0
51,Hawaii,7864,0.617370,4855,0.465539,2.263988,155.677899,0.005849,46,0
52,Total,8719049,0.531862,4637331,0.388533,2.463890,187.011798,0.008770,76463,0

In [19]:
# filenames
excel_names = ["Analytics Bike MS - Luminate Pages Location City 20160401 - 20171214 (1).xlsx"]

# read them in
excels = [pd.ExcelFile(name) for name in excel_names]

# turn them into dataframes
frames = [x.parse(x.sheet_names[0],index_col=None) for x in excels]

# delete the first row for all frames except the first
# i.e. remove the header row -- assumes it's the first
frames[1:] = [df[1:] for df in frames[1:]]

# concatenate them..
analyticsCity = pd.concat(frames)

# Check headers
analyticsCity.head(3)

analyticsCity

,City,Sessions,% New Sessions,New Users,Bounce Rate,Pages / Session,Avg. Session Duration,Bike Registrations - Individual with Payment (Goal 1 Conversion Rate),Bike Registrations - Individual with Payment (Goal 1 Completions),Bike Registrations - Individual with Payment (Goal 1 Value)
0,Houston,676095,0.442084,298891,0.358960,2.616335,204.141618,0.012000,8113,0
1,New York,427789,0.579863,248059,0.396471,2.370989,180.114486,0.010889,4658,0
2,Chicago,241418,0.543369,131179,0.417869,2.151563,157.901905,0.005000,1207,0
3,Dallas,165549,0.537406,88967,0.420921,2.111441,140.405747,0.005020,831,0
4,Philadelphia,154252,0.536868,82813,0.434840,2.300152,166.330155,0.008635,1332,0
5,Minneapolis,133430,0.484411,64635,0.351150,2.416833,185.598816,0.007202,961,0
6,(not set),131393,0.698066,91721,0.542776,2.025618,130.239290,0.007497,985,0
7,Los Angeles,125204,0.588927,73736,0.503267,2.004289,137.001334,0.004513,565,0
8,San Francisco,120391,0.574354,69147,0.452849,2.095098,155.637722,0.006645,800,0
9,Denver,116160,0.511527,59419,0.357257,2.446255,190.063309,0.008695,1010,0
10,Austin,113452,0.492393,55863,0.389989,2.396309,183.510480,0.009167,1040,0
11,Boston,111827,0.537867,60148,0.378942,2.202840,159.356336,0.006269,701,0
12,Washington,111819,0.553537,61896,0.438789,2.100698,142.369758,0.004185,468,0
13,Seattle,108718,0.554076,60238,0.471541,2.325944,159.551730,0.008205,892,0
14,San Antonio,99274,0.519189,51542,0.475462,2.339948,167.525455,0.008028,797,0
15,San Diego,65946,0.521411,34385,0.457677,2.227353,167.368241,0.005838,385,0
16,Charlotte,63106,0.537128,33896,0.452714,2.356020,175.517843,0.007147,451,0
17,Atlanta,55029,0.576078,31701,0.466718,2.103309,142.881753,0.004779,263,0
18,St. Louis,44489,0.520129,23140,0.447077,2.399020,175.597181,0.007260,323,0
19,Raleigh,42223,0.490065,20692,0.409492,2.540866,195.884707,0.011250,475,0
20,Kansas City,40296,0.518811,20906,0.438604,2.477417,182.672474,0.008984,362,0
21,Orlando,36159,0.546724,19769,0.500567,2.066346,134.948561,0.004950,179,0
22,Saint Paul,35609,0.487405,17356,0.298323,2.652981,205.200174,0.009323,332,0
23,Jacksonville,35327,0.437824,15467,0.330625,3.016333,233.118719,0.013701,484,0
24,Pittsburgh,32177,0.502533,16170,0.362091,2.623986,196.693166,0.010100,325,0
25,Salt Lake City,31548,0.527355,16637,0.398377,2.181882,147.412102,0.008939,282,0
26,Madison,31057,0.541488,16817,0.418263,2.387964,175.126638,0.007921,246,0
27,Miami,30558,0.527881,16131,0.448262,2.183847,152.795275,0.005694,174,0
28,Portland,29489,0.501509,14789,0.395198,2.474448,188.575096,0.006613,195,0
29,The Woodlands,29376,0.471031,13837,0.314372,2.799871,219.744281,0.014093,414,0
...,...,...,...,...,...,...,...,...,...,...
4971,Tavernier,99,0.343434,34,0.232323,3.717172,270.121212,0.030303,3,0
4972,Greensboro,99,0.585859,58,0.424242,2.323232,188.171717,0.020202,2,0
4973,Jasper,99,0.707071,70,0.484848,2.232323,134.121212,0.000000,0,0
4974,Freeburg,99,0.464646,46,0.383838,2.727273,198.494949,0.000000,0,0
4975,Pratt,99,0.595960,59,0.515152,1.727273,135.000000,0.010101,1,0
4976,Hollywood,99,0.626263,62,0.404040,2.737374,200.323232,0.000000,0,0
4977,Middletown,99,0.616162,61,0.373737,2.080808,132.010101,0.000000,0,0
4978,Alpena,99,0.727273,72,0.343434,2.434343,202.191919,0.010101,1,0
4979,Geneseo,99,0.646465,64,0.454545,2.262626,121.515152,0.000000,0,0
4980,Middlebury,99,0.606061,60,0.313131,2.535354,258.131313,0.000000,0,0
4981,Moody,99,0.595960,59,0.262626,4.444444,293.858586,0.020202,2,0
4982,North Plainfield,99,0.414141,41,0.353535,2.595960,212.323232,0.010101,1,0
4983,Riverwoods,99,0.404040,40,0.282828,3.414141,239.757576,0.050505,5,0
4984,Security-Widefield,99,0.515152,51,0.202020,1.848485,130.494949,0.000000,0,0
4985,Whitfield,99,0.232323,23,0.191919,3.060606,271.949495,0.010101,1,0
4986,Dinuba,98,0.653061,64,0.693878,1.367347,66.948980,0.000000,0,0
4987,San Jacinto,98,0.775510,76,0.642857,1.612245,51.255102,0.000000,0,0
4988,Hinesville,98,0.755102,74,0.479592,2.091837,116.632653,0.010204,1,0
4989,Indianola,98,0.795918,78,0.520408,1.755102,71.142857,0.010204,1,0
4990,Burlington,98,0.387755,38,0.255102,3.183673,335.979592,0.020408,2,0
4991,Kelliher,98,0.214286,21,0.357143,2.091837,100.744898,0.000000,0,0
4992,Pelican Rapids,98,0.632653,62,0.489796,2.102041,184.438776,0.010204,1,0
4993,Sandstone,98,0.561224,55,0.326531,2.142857,113.448980,0.000000,0,0
4994,Selma,98,0.724490,71,0.683673,1.744898,104.255102,0.020408,2,0
4995,Valley City,98,0.551020,54,0.255102,2.112245,146.489796,0.010204,1,0
4996,Willow Street,98,0.744898,73,0.336735,2.418367,239.020408,0.010204,1,0
4997,Quinlan,98,0.704082,69,0.551020,2.040816,128.785714,0.000000,0,0
4998,Panguitch,98,0.581633,57,0.683673,1.540816,45.642857,0.000000,0,0
4999,Washington,98,0.602041,59,0.428571,2.163265,131.377551,0.020408,2,0
5000,Total,8719049,0.531862,4637331,0.388533,2.463890,187.011798,0.008770,76463,0

In [20]:
# filenames
excel_names = ["Analytics Bike MS - Luminate Pages Location Metro 20160401-20171214 (2).xlsx"]

# read them in
excels = [pd.ExcelFile(name) for name in excel_names]

# turn them into dataframes
frames = [x.parse(x.sheet_names[0],index_col=None) for x in excels]

# delete the first row for all frames except the first
# i.e. remove the header row -- assumes it's the first
frames[1:] = [df[1:] for df in frames[1:]]

# concatenate them..
analyticsCity2 = pd.concat(frames)

# Check headers
analyticsCity2.head(3)

analyticsCity2

,Metro,Sessions,% New Sessions,New Users,Bounce Rate,Pages / Session,Avg. Session Duration,Bike Registrations - Individual with Payment (Goal 1 Conversion Rate),Bike Registrations - Individual with Payment (Goal 1 Completions),Bike Registrations - Individual with Payment (Goal 1 Value)
0,Houston TX,879908,0.449630,395633,0.356405,2.635465,206.281727,0.012140,10682,0
1,New York NY,734284,0.567997,417071,0.384312,2.452208,187.255761,0.010413,7646,0
2,Philadelphia PA,634934,0.508719,323003,0.380545,2.542535,198.787304,0.009146,5807,0
3,Minneapolis-St. Paul MN,414118,0.485079,200880,0.318982,2.579617,203.721067,0.008981,3719,0
4,Chicago IL,369451,0.544608,201206,0.384560,2.291449,172.531610,0.006261,2313,0
5,Boston MA-Manchester NH,357996,0.514388,184149,0.343638,2.527995,201.702111,0.008394,3005,0
6,Dallas-Ft. Worth TX,328332,0.525407,172508,0.367381,2.380237,170.595403,0.007124,2339,0
7,Los Angeles CA,320929,0.558519,179245,0.458238,2.252006,169.514341,0.006522,2093,0
8,Denver CO,279505,0.504438,140993,0.340259,2.527053,200.509916,0.009535,2665,0
9,San Francisco-Oakland-San Jose CA,277801,0.581071,161422,0.423782,2.210384,170.021339,0.007477,2077,0
10,Washington DC (Hagerstown MD),226669,0.597704,135481,0.432988,2.232242,157.475504,0.005413,1227,0
11,Seattle-Tacoma WA,212892,0.573300,122051,0.464141,2.381560,167.289893,0.008563,1823,0
12,St. Louis MO,152404,0.503681,76763,0.375673,2.685763,213.252756,0.008746,1333,0
13,Austin TX,142902,0.502967,71875,0.385845,2.414067,185.214035,0.008922,1275,0
14,Raleigh-Durham (Fayetteville) NC,136348,0.538152,73376,0.406849,2.444854,191.881172,0.009520,1298,0
15,(not set),131395,0.698063,91722,0.542768,2.025686,130.240983,0.007496,985,0
16,San Antonio TX,117568,0.518474,60956,0.465705,2.370900,173.355071,0.007927,932,0
17,Atlanta GA,116708,0.554778,64747,0.407333,2.383059,183.724372,0.007557,882,0
18,Salt Lake City UT,102819,0.544685,56004,0.392009,2.171427,148.638997,0.009677,995,0
19,Kansas City MO,102225,0.526319,53803,0.423546,2.527102,190.641467,0.010086,1031,0
20,Cleveland-Akron (Canton) OH,100309,0.547329,54902,0.368561,2.522286,191.537240,0.007796,782,0
21,Detroit MI,100299,0.557593,55926,0.419536,2.318807,165.359615,0.005155,517,0
22,Pittsburgh PA,95957,0.495420,47539,0.335598,2.748325,212.114239,0.011609,1114,0
23,San Diego CA,92793,0.536096,49746,0.457912,2.252907,171.727253,0.006218,577,0
24,Milwaukee WI,90087,0.489427,44091,0.367134,2.642379,207.013221,0.008636,778,0
25,Charlotte NC,86629,0.541458,46906,0.444008,2.379700,179.542163,0.007295,632,0
26,Miami-Ft. Lauderdale FL,79428,0.517563,41109,0.400866,2.548195,197.724908,0.010085,801,0
27,Orlando-Daytona Beach-Melbourne FL,71859,0.550161,39534,0.435186,2.285392,162.120778,0.007028,505,0
28,Portland OR,70840,0.550847,39022,0.450762,2.328868,175.329051,0.006395,453,0
29,"Providence-New Bedford,MA",59543,0.515829,30714,0.332063,2.676788,200.188334,0.008683,517,0
...,...,...,...,...,...,...,...,...,...,...
181,Watertown NY,1043,0.540748,564,0.423778,2.583893,198.152445,0.005753,6,0
182,Utica NY,1009,0.721506,728,0.410307,2.040634,151.579782,0.000991,1,0
183,St. Joseph MO,998,0.598196,597,0.628257,1.903808,129.894790,0.005010,5,0
184,Jackson TN,997,0.581745,580,0.406219,2.904714,157.735206,0.006018,6,0
185,Marquette MI,992,0.610887,606,0.379032,2.095766,153.585685,0.003024,3,0
186,Monroe LA-El Dorado AR,966,0.679089,656,0.406832,2.420290,153.687371,0.007246,7,0
187,Lima OH,958,0.570981,547,0.472860,2.181628,148.045929,0.002088,2,0
188,Bluefield-Beckley-Oak Hill WV,943,0.546129,515,0.378579,2.407211,195.661718,0.005302,5,0
189,Terre Haute IN,886,0.639955,567,0.366817,2.156885,141.153499,0.002257,2,0
190,Great Falls MT,797,0.693852,553,0.461731,1.991217,111.170640,0.006274,5,0
191,Yuma AZ-El Centro CA,779,0.724005,564,0.564827,1.757381,127.491656,0.001284,1,0
192,Elmira (Corning) NY,720,0.744444,536,0.405556,2.137500,136.844444,0.001389,1,0
193,Helena MT,708,0.668079,473,0.384181,2.135593,134.059322,0.004237,3,0
194,Bowling Green KY,705,0.666667,470,0.375887,1.973050,111.814184,0.007092,5,0
195,Jonesboro AR,666,0.642643,428,0.400901,2.246246,160.370871,0.003003,2,0
196,Eureka CA,642,0.602804,387,0.538941,1.869159,128.741433,0.004673,3,0
197,Albany GA,632,0.645570,408,0.507911,2.001582,134.643987,0.000000,0,0
198,Alexandria LA,625,0.670400,419,0.408000,2.225600,154.248000,0.004800,3,0
199,Ottumwa IA-Kirksville MO,498,0.674699,336,0.451807,1.877510,130.353414,0.000000,0,0
200,Fairbanks AK,475,0.658947,313,0.421053,2.002105,150.896842,0.000000,0,0
201,Dothan AL,463,0.691145,320,0.520518,1.771058,104.697624,0.002160,1,0
202,Meridian MS,456,0.596491,272,0.467105,2.239035,195.675439,0.006579,3,0
203,Zanesville OH,382,0.654450,250,0.520942,1.960733,131.005236,0.010471,4,0
204,Juneau AK,369,0.707317,261,0.447154,1.918699,134.284553,0.000000,0,0
205,Presque Isle ME,291,0.621993,181,0.378007,2.185567,125.625430,0.000000,0,0
206,Greenwood-Greenville MS,290,0.627586,182,0.448276,1.931034,97.879310,0.000000,0,0
207,North Platte NE,270,0.651852,176,0.351852,2.055556,142.507407,0.014815,4,0
208,Glendive MT,111,0.405405,45,0.423423,2.495495,253.594595,0.009009,1,0
209,Alpena MI,100,0.730000,73,0.350000,2.420000,200.170000,0.010000,1,0
210,Total,8719049,0.531862,4637331,0.388533,2.463890,187.011798,0.008770,76463,0

## Referrals

In [21]:
# filenames
excel_names = ["Analytics Bike MS - Luminate Pages Referral Traffic Goal 1 Indiv Reg 20160401-20171214.xlsx"]

# read them in
excels = [pd.ExcelFile(name) for name in excel_names]

# turn them into dataframes
frames = [x.parse(x.sheet_names[0],index_col=None) for x in excels]

# delete the first row for all frames except the first
# i.e. remove the header row -- assumes it's the first
frames[1:] = [df[1:] for df in frames[1:]]

# concatenate them..
analyticsG1Ref = pd.concat(frames)

# Check headers
analyticsG1Ref.head(3)

analyticsG1Ref

,Source,Sessions,% New Sessions,New Users,Bounce Rate,Pages / Session,Avg. Session Duration,Bike Registrations - Individual with Payment (Goal 1 Conversion Rate),Bike Registrations - Individual with Payment (Goal 1 Completions),Bike Registrations - Individual with Payment (Goal 1 Value)
0,m.facebook.com,871059,0.644046,561002,0.551314,1.721278,96.998308,0.000186,162,0
1,facebook.com,404395,0.348884,141087,0.304729,2.567472,241.003155,0.002864,1158,0
2,l.facebook.com,110350,0.499375,55106,0.393856,2.293756,187.870757,0.002673,295,0
3,lm.facebook.com,72932,0.492157,35894,0.620414,1.510352,94.147110,0.000206,15,0
4,t.co,55915,0.766574,42863,0.807941,1.326728,42.765144,0.000286,16,0
5,outlook.live.com,35335,0.367313,12979,0.320787,2.828753,271.312664,0.015905,562,0
6,l.instagram.com,26355,0.623828,16441,0.745286,1.503472,84.007095,0.000152,4,0
7,bfapps1.boundlessfundraising.com,7123,0.023586,168,0.321775,2.416257,241.836445,0.009547,68,0
8,duckduckgo.com,6355,0.365696,2324,0.311251,3.040598,242.935012,0.002990,19,0
9,linkedin.com,5729,0.489091,2802,0.435853,2.083261,152.004887,0.001920,11,0
10,mg.mail.yahoo.com,4303,0.289333,1245,0.303044,2.836626,269.628864,0.018127,78,0
11,wheelbrothers.com,4139,0.566079,2343,0.302005,3.051945,180.582266,0.001208,5,0
12,ready2rollcycling.com,4093,0.174933,716,0.359638,2.828243,239.883948,0.004886,20,0
13,matchinggifts.com,3872,0.065599,254,0.245868,3.219267,297.995868,0.010072,39,0
14,bikebarn.com,2931,0.253838,744,0.326510,2.795633,245.320710,0.004435,13,0
15,webmail.earthlink.net,2628,0.356925,938,0.284627,3.077245,260.264460,0.011796,31,0
16,kansascyclist.com,2433,0.566790,1379,0.375668,3.183724,199.880806,0.000822,2,0
17,bikeacentury.com,2238,0.845398,1892,0.550938,1.908400,68.874888,0.000894,2,0
18,tpc.googlesyndication.com,2090,0.844976,1766,0.761244,1.288038,35.085646,0.000000,0,0
19,intranet.nmss.org,1800,0.008333,15,0.271667,4.542222,452.490556,0.008333,15,0
20,search.xfinity.com,1706,0.365768,624,0.174091,3.880422,328.559789,0.011137,19,0
21,search.tb.ask.com,1697,0.206836,351,0.205068,3.554508,279.595168,0.009428,16,0
22,myemail.constantcontact.com,1693,0.137626,233,0.239811,3.180154,234.949793,0.014176,24,0
23,reddit.com,1678,0.716925,1203,0.513111,1.664482,85.278308,0.000000,0,0
24,instagram.com,1663,0.920024,1530,0.889357,1.125075,12.948286,0.000000,0,0
25,mail.google.com,1621,0.272054,441,0.313387,2.439235,235.534238,0.008637,14,0
26,abc13.com,1461,0.740589,1082,0.134155,1.628337,47.159480,0.000000,0,0
27,suburbancyclists.org,1437,0.599861,862,0.302018,2.986778,189.997216,0.001392,2,0
28,cyclesdeoro.com,1401,0.653819,916,0.510350,2.437545,115.024982,0.000000,0,0
29,bicyclecolorado.org,1372,0.662536,909,0.305394,2.435131,151.392128,0.005102,7,0
...,...,...,...,...,...,...,...,...,...,...
4971,bikemstanglewood.org,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4972,bikenewportbeach.org,1,1.000000,1,0.000000,5.000000,128.000000,0.000000,0,0
4973,bikepacking.net,1,0.000000,0,0.000000,2.000000,21.000000,0.000000,0,0
4974,bikepaths.com,1,1.000000,1,0.000000,2.000000,69.000000,0.000000,0,0
4975,bikeradar.com,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4976,bikesand.squarespace.com,1,0.000000,0,1.000000,1.000000,0.000000,0.000000,0,0
4977,bikesandbeersacrossamerica.squarespace.com,1,1.000000,1,0.000000,2.000000,7.000000,0.000000,0,0
4978,bikethedrive.org,1,0.000000,0,1.000000,1.000000,0.000000,0.000000,0,0
4979,bikexchange.com,1,1.000000,1,0.000000,1.000000,52.000000,0.000000,0,0
4980,bikingpugetsound.com,1,1.000000,1,0.000000,2.000000,97.000000,0.000000,0,0
4981,binghamcyclery.com,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4982,bioclinica.com,1,0.000000,0,0.000000,2.000000,11.000000,0.000000,0,0
4983,birmingham365.org,1,0.000000,0,1.000000,1.000000,0.000000,0.000000,0,0
4984,bitecharge.com,1,1.000000,1,0.000000,1.000000,0.000000,0.000000,0,0
4985,bl-ux-wpd1.na.dir.bunge.com,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4986,blairport,1,0.000000,0,0.000000,1.000000,0.000000,0.000000,0,0
4987,blayneholland.com,1,0.000000,0,0.000000,1.000000,0.000000,0.000000,0,0
4988,blog.al.com,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4989,blog.axc.net,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4990,blog.baxterauto.com,1,1.000000,1,0.000000,2.000000,17.000000,0.000000,0,0
4991,blog.chron.com,1,0.000000,0,0.000000,1.000000,0.000000,0.000000,0,0
4992,blog.hepdata.com,1,0.000000,0,1.000000,1.000000,0.000000,0.000000,0,0
4993,blog.memorialhermann.org,1,0.000000,0,0.000000,3.000000,21.000000,0.000000,0,0
4994,blog.muckfestms.com,1,0.000000,0,0.000000,4.000000,66.000000,0.000000,0,0
4995,blog.petetheplanner.com,1,1.000000,1,0.000000,2.000000,3.000000,0.000000,0,0
4996,blog.thesmithlife.com,1,1.000000,1,0.000000,3.000000,441.000000,0.000000,0,0
4997,blog.ticketbud.com,1,1.000000,1,0.000000,1.000000,45.000000,0.000000,0,0
4998,blog.timesunion.com,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4999,blog.tri-citiesguide.org,1,1.000000,1,0.000000,4.000000,250.000000,0.000000,0,0
5000,Total,1808023,0.533102,963860,0.471142,2.080386,150.738925,0.002175,3932,0

In [22]:
# filenames
excel_names = ["Analytics Bike MS - Luminate Pages Referral Traffic Goal 2 Start New Team 20160401-20171214.xlsx"]

# read them in
excels = [pd.ExcelFile(name) for name in excel_names]

# turn them into dataframes
frames = [x.parse(x.sheet_names[0],index_col=None) for x in excels]

# delete the first row for all frames except the first
# i.e. remove the header row -- assumes it's the first
frames[1:] = [df[1:] for df in frames[1:]]

# concatenate them..
analyticsG2Ref = pd.concat(frames)

# Check headers
analyticsG2Ref.head(3)

analyticsG2Ref

,Source,Sessions,% New Sessions,New Users,Bounce Rate,Pages / Session,Avg. Session Duration,Bike Registrations - Start New Team Member (Goal 2 Conversion Rate),Bike Registrations - Start New Team Member (Goal 2 Completions),Bike Registrations - Start New Team Member (Goal 2 Value)
0,m.facebook.com,871059,0.644046,561002,0.551314,1.721278,96.998308,0.000186,162,0
1,facebook.com,404395,0.348884,141087,0.304729,2.567472,241.003155,0.002864,1158,0
2,l.facebook.com,110350,0.499375,55106,0.393856,2.293756,187.870757,0.002673,295,0
3,lm.facebook.com,72932,0.492157,35894,0.620414,1.510352,94.147110,0.000206,15,0
4,t.co,55915,0.766574,42863,0.807941,1.326728,42.765144,0.000286,16,0
5,outlook.live.com,35335,0.367313,12979,0.320787,2.828753,271.312664,0.015905,562,0
6,l.instagram.com,26355,0.623828,16441,0.745286,1.503472,84.007095,0.000152,4,0
7,bfapps1.boundlessfundraising.com,7123,0.023586,168,0.321775,2.416257,241.836445,0.009547,68,0
8,duckduckgo.com,6355,0.365696,2324,0.311251,3.040598,242.935012,0.002990,19,0
9,linkedin.com,5729,0.489091,2802,0.435853,2.083261,152.004887,0.001920,11,0
10,mg.mail.yahoo.com,4303,0.289333,1245,0.303044,2.836626,269.628864,0.018127,78,0
11,wheelbrothers.com,4139,0.566079,2343,0.302005,3.051945,180.582266,0.001208,5,0
12,ready2rollcycling.com,4093,0.174933,716,0.359638,2.828243,239.883948,0.004886,20,0
13,matchinggifts.com,3872,0.065599,254,0.245868,3.219267,297.995868,0.010072,39,0
14,bikebarn.com,2931,0.253838,744,0.326510,2.795633,245.320710,0.004435,13,0
15,webmail.earthlink.net,2628,0.356925,938,0.284627,3.077245,260.264460,0.011796,31,0
16,kansascyclist.com,2433,0.566790,1379,0.375668,3.183724,199.880806,0.000822,2,0
17,bikeacentury.com,2238,0.845398,1892,0.550938,1.908400,68.874888,0.000894,2,0
18,tpc.googlesyndication.com,2090,0.844976,1766,0.761244,1.288038,35.085646,0.000000,0,0
19,intranet.nmss.org,1800,0.008333,15,0.271667,4.542222,452.490556,0.008333,15,0
20,search.xfinity.com,1706,0.365768,624,0.174091,3.880422,328.559789,0.011137,19,0
21,search.tb.ask.com,1697,0.206836,351,0.205068,3.554508,279.595168,0.009428,16,0
22,myemail.constantcontact.com,1693,0.137626,233,0.239811,3.180154,234.949793,0.014176,24,0
23,reddit.com,1678,0.716925,1203,0.513111,1.664482,85.278308,0.000000,0,0
24,instagram.com,1663,0.920024,1530,0.889357,1.125075,12.948286,0.000000,0,0
25,mail.google.com,1621,0.272054,441,0.313387,2.439235,235.534238,0.008637,14,0
26,abc13.com,1461,0.740589,1082,0.134155,1.628337,47.159480,0.000000,0,0
27,suburbancyclists.org,1437,0.599861,862,0.302018,2.986778,189.997216,0.001392,2,0
28,cyclesdeoro.com,1401,0.653819,916,0.510350,2.437545,115.024982,0.000000,0,0
29,bicyclecolorado.org,1372,0.662536,909,0.305394,2.435131,151.392128,0.005102,7,0
...,...,...,...,...,...,...,...,...,...,...
4971,bikemstanglewood.org,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4972,bikenewportbeach.org,1,1.000000,1,0.000000,5.000000,128.000000,0.000000,0,0
4973,bikepacking.net,1,0.000000,0,0.000000,2.000000,21.000000,0.000000,0,0
4974,bikepaths.com,1,1.000000,1,0.000000,2.000000,69.000000,0.000000,0,0
4975,bikeradar.com,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4976,bikesand.squarespace.com,1,0.000000,0,1.000000,1.000000,0.000000,0.000000,0,0
4977,bikesandbeersacrossamerica.squarespace.com,1,1.000000,1,0.000000,2.000000,7.000000,0.000000,0,0
4978,bikethedrive.org,1,0.000000,0,1.000000,1.000000,0.000000,0.000000,0,0
4979,bikexchange.com,1,1.000000,1,0.000000,1.000000,52.000000,0.000000,0,0
4980,bikingpugetsound.com,1,1.000000,1,0.000000,2.000000,97.000000,0.000000,0,0
4981,binghamcyclery.com,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4982,bioclinica.com,1,0.000000,0,0.000000,2.000000,11.000000,0.000000,0,0
4983,birmingham365.org,1,0.000000,0,1.000000,1.000000,0.000000,0.000000,0,0
4984,bitecharge.com,1,1.000000,1,0.000000,1.000000,0.000000,0.000000,0,0
4985,bl-ux-wpd1.na.dir.bunge.com,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4986,blairport,1,0.000000,0,0.000000,1.000000,0.000000,0.000000,0,0
4987,blayneholland.com,1,0.000000,0,0.000000,1.000000,0.000000,0.000000,0,0
4988,blog.al.com,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4989,blog.axc.net,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4990,blog.baxterauto.com,1,1.000000,1,0.000000,2.000000,17.000000,0.000000,0,0
4991,blog.chron.com,1,0.000000,0,0.000000,1.000000,0.000000,0.000000,0,0
4992,blog.hepdata.com,1,0.000000,0,1.000000,1.000000,0.000000,0.000000,0,0
4993,blog.memorialhermann.org,1,0.000000,0,0.000000,3.000000,21.000000,0.000000,0,0
4994,blog.muckfestms.com,1,0.000000,0,0.000000,4.000000,66.000000,0.000000,0,0
4995,blog.petetheplanner.com,1,1.000000,1,0.000000,2.000000,3.000000,0.000000,0,0
4996,blog.thesmithlife.com,1,1.000000,1,0.000000,3.000000,441.000000,0.000000,0,0
4997,blog.ticketbud.com,1,1.000000,1,0.000000,1.000000,45.000000,0.000000,0,0
4998,blog.timesunion.com,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4999,blog.tri-citiesguide.org,1,1.000000,1,0.000000,4.000000,250.000000,0.000000,0,0
5000,Total,1808023,0.533102,963860,0.471142,2.080386,150.738925,0.002175,3932,0

In [23]:
# filenames
excel_names = ["Analytics Bike MS - Luminate Pages Referral Traffic Goal 3 Join Team 20160401-20171214 (2).xlsx"]

# read them in
excels = [pd.ExcelFile(name) for name in excel_names]

# turn them into dataframes
frames = [x.parse(x.sheet_names[0],index_col=None) for x in excels]

# delete the first row for all frames except the first
# i.e. remove the header row -- assumes it's the first
frames[1:] = [df[1:] for df in frames[1:]]

# concatenate them..
analyticsG3Ref = pd.concat(frames)

# Check headers
analyticsG3Ref.head(3)

analyticsG3Ref

,Source,Sessions,% New Sessions,New Users,Bounce Rate,Pages / Session,Avg. Session Duration,Bike Registration - Join a Team (Goal 3 Conversion Rate),Bike Registration - Join a Team (Goal 3 Completions),Bike Registration - Join a Team (Goal 3 Value)
0,m.facebook.com,871059,0.644046,561002,0.551314,1.721278,96.998308,0.000185,161,0
1,facebook.com,404395,0.348884,141087,0.304729,2.567472,241.003155,0.002849,1152,0
2,l.facebook.com,110350,0.499375,55106,0.393856,2.293756,187.870757,0.002655,293,0
3,lm.facebook.com,72932,0.492157,35894,0.620414,1.510352,94.147110,0.000206,15,0
4,t.co,55915,0.766574,42863,0.807941,1.326728,42.765144,0.000286,16,0
5,outlook.live.com,35335,0.367313,12979,0.320787,2.828753,271.312664,0.015905,562,0
6,l.instagram.com,26355,0.623828,16441,0.745286,1.503472,84.007095,0.000152,4,0
7,bfapps1.boundlessfundraising.com,7123,0.023586,168,0.321775,2.416257,241.836445,0.009125,65,0
8,duckduckgo.com,6355,0.365696,2324,0.311251,3.040598,242.935012,0.002990,19,0
9,linkedin.com,5729,0.489091,2802,0.435853,2.083261,152.004887,0.001920,11,0
10,mg.mail.yahoo.com,4303,0.289333,1245,0.303044,2.836626,269.628864,0.018127,78,0
11,wheelbrothers.com,4139,0.566079,2343,0.302005,3.051945,180.582266,0.001208,5,0
12,ready2rollcycling.com,4093,0.174933,716,0.359638,2.828243,239.883948,0.004642,19,0
13,matchinggifts.com,3872,0.065599,254,0.245868,3.219267,297.995868,0.010072,39,0
14,bikebarn.com,2931,0.253838,744,0.326510,2.795633,245.320710,0.004435,13,0
15,webmail.earthlink.net,2628,0.356925,938,0.284627,3.077245,260.264460,0.011796,31,0
16,kansascyclist.com,2433,0.566790,1379,0.375668,3.183724,199.880806,0.000822,2,0
17,bikeacentury.com,2238,0.845398,1892,0.550938,1.908400,68.874888,0.000894,2,0
18,tpc.googlesyndication.com,2090,0.844976,1766,0.761244,1.288038,35.085646,0.000000,0,0
19,intranet.nmss.org,1800,0.008333,15,0.271667,4.542222,452.490556,0.008333,15,0
20,search.xfinity.com,1706,0.365768,624,0.174091,3.880422,328.559789,0.010551,18,0
21,search.tb.ask.com,1697,0.206836,351,0.205068,3.554508,279.595168,0.009428,16,0
22,myemail.constantcontact.com,1693,0.137626,233,0.239811,3.180154,234.949793,0.014176,24,0
23,reddit.com,1678,0.716925,1203,0.513111,1.664482,85.278308,0.000000,0,0
24,instagram.com,1663,0.920024,1530,0.889357,1.125075,12.948286,0.000000,0,0
25,mail.google.com,1621,0.272054,441,0.313387,2.439235,235.534238,0.007403,12,0
26,abc13.com,1461,0.740589,1082,0.134155,1.628337,47.159480,0.000000,0,0
27,suburbancyclists.org,1437,0.599861,862,0.302018,2.986778,189.997216,0.001392,2,0
28,cyclesdeoro.com,1401,0.653819,916,0.510350,2.437545,115.024982,0.000000,0,0
29,bicyclecolorado.org,1372,0.662536,909,0.305394,2.435131,151.392128,0.005102,7,0
...,...,...,...,...,...,...,...,...,...,...
4971,bikemstanglewood.org,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4972,bikenewportbeach.org,1,1.000000,1,0.000000,5.000000,128.000000,0.000000,0,0
4973,bikepacking.net,1,0.000000,0,0.000000,2.000000,21.000000,0.000000,0,0
4974,bikepaths.com,1,1.000000,1,0.000000,2.000000,69.000000,0.000000,0,0
4975,bikeradar.com,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4976,bikesand.squarespace.com,1,0.000000,0,1.000000,1.000000,0.000000,0.000000,0,0
4977,bikesandbeersacrossamerica.squarespace.com,1,1.000000,1,0.000000,2.000000,7.000000,0.000000,0,0
4978,bikethedrive.org,1,0.000000,0,1.000000,1.000000,0.000000,0.000000,0,0
4979,bikexchange.com,1,1.000000,1,0.000000,1.000000,52.000000,0.000000,0,0
4980,bikingpugetsound.com,1,1.000000,1,0.000000,2.000000,97.000000,0.000000,0,0
4981,binghamcyclery.com,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4982,bioclinica.com,1,0.000000,0,0.000000,2.000000,11.000000,0.000000,0,0
4983,birmingham365.org,1,0.000000,0,1.000000,1.000000,0.000000,0.000000,0,0
4984,bitecharge.com,1,1.000000,1,0.000000,1.000000,0.000000,0.000000,0,0
4985,bl-ux-wpd1.na.dir.bunge.com,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4986,blairport,1,0.000000,0,0.000000,1.000000,0.000000,0.000000,0,0
4987,blayneholland.com,1,0.000000,0,0.000000,1.000000,0.000000,0.000000,0,0
4988,blog.al.com,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4989,blog.axc.net,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4990,blog.baxterauto.com,1,1.000000,1,0.000000,2.000000,17.000000,0.000000,0,0
4991,blog.chron.com,1,0.000000,0,0.000000,1.000000,0.000000,0.000000,0,0
4992,blog.hepdata.com,1,0.000000,0,1.000000,1.000000,0.000000,0.000000,0,0
4993,blog.memorialhermann.org,1,0.000000,0,0.000000,3.000000,21.000000,0.000000,0,0
4994,blog.muckfestms.com,1,0.000000,0,0.000000,4.000000,66.000000,0.000000,0,0
4995,blog.petetheplanner.com,1,1.000000,1,0.000000,2.000000,3.000000,0.000000,0,0
4996,blog.thesmithlife.com,1,1.000000,1,0.000000,3.000000,441.000000,0.000000,0,0
4997,blog.ticketbud.com,1,1.000000,1,0.000000,1.000000,45.000000,0.000000,0,0
4998,blog.timesunion.com,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4999,blog.tri-citiesguide.org,1,1.000000,1,0.000000,4.000000,250.000000,0.000000,0,0
5000,Total,1808023,0.533102,963860,0.471142,2.080386,150.738925,0.002157,3900,0

In [24]:
# filenames
excel_names = ["Analytics Bike MS - Luminate Pages Referral Traffic Goal 4 Join from Team Page 20160401-20171214.xlsx"]

# read them in
excels = [pd.ExcelFile(name) for name in excel_names]

# turn them into dataframes
frames = [x.parse(x.sheet_names[0],index_col=None) for x in excels]

# delete the first row for all frames except the first
# i.e. remove the header row -- assumes it's the first
frames[1:] = [df[1:] for df in frames[1:]]

# concatenate them..
analyticsG4Ref = pd.concat(frames)

# Check headers
analyticsG4Ref.head(3)

analyticsG4Ref

,Source,Sessions,% New Sessions,New Users,Bounce Rate,Pages / Session,Avg. Session Duration,Bike Registration - Join Team from Team Page (Goal 4 Conversion Rate),Bike Registration - Join Team from Team Page (Goal 4 Completions),Bike Registration - Join Team from Team Page (Goal 4 Value)
0,m.facebook.com,871059,0.644046,561002,0.551314,1.721278,96.998308,0.000185,161,0
1,facebook.com,404395,0.348884,141087,0.304729,2.567472,241.003155,0.002849,1152,0
2,l.facebook.com,110350,0.499375,55106,0.393856,2.293756,187.870757,0.002655,293,0
3,lm.facebook.com,72932,0.492157,35894,0.620414,1.510352,94.147110,0.000206,15,0
4,t.co,55915,0.766574,42863,0.807941,1.326728,42.765144,0.000286,16,0
5,outlook.live.com,35335,0.367313,12979,0.320787,2.828753,271.312664,0.015905,562,0
6,l.instagram.com,26355,0.623828,16441,0.745286,1.503472,84.007095,0.000152,4,0
7,bfapps1.boundlessfundraising.com,7123,0.023586,168,0.321775,2.416257,241.836445,0.009125,65,0
8,duckduckgo.com,6355,0.365696,2324,0.311251,3.040598,242.935012,0.002990,19,0
9,linkedin.com,5729,0.489091,2802,0.435853,2.083261,152.004887,0.001920,11,0
10,mg.mail.yahoo.com,4303,0.289333,1245,0.303044,2.836626,269.628864,0.018127,78,0
11,wheelbrothers.com,4139,0.566079,2343,0.302005,3.051945,180.582266,0.001208,5,0
12,ready2rollcycling.com,4093,0.174933,716,0.359638,2.828243,239.883948,0.004642,19,0
13,matchinggifts.com,3872,0.065599,254,0.245868,3.219267,297.995868,0.010072,39,0
14,bikebarn.com,2931,0.253838,744,0.326510,2.795633,245.320710,0.004435,13,0
15,webmail.earthlink.net,2628,0.356925,938,0.284627,3.077245,260.264460,0.011796,31,0
16,kansascyclist.com,2433,0.566790,1379,0.375668,3.183724,199.880806,0.000822,2,0
17,bikeacentury.com,2238,0.845398,1892,0.550938,1.908400,68.874888,0.000894,2,0
18,tpc.googlesyndication.com,2090,0.844976,1766,0.761244,1.288038,35.085646,0.000000,0,0
19,intranet.nmss.org,1800,0.008333,15,0.271667,4.542222,452.490556,0.008333,15,0
20,search.xfinity.com,1706,0.365768,624,0.174091,3.880422,328.559789,0.010551,18,0
21,search.tb.ask.com,1697,0.206836,351,0.205068,3.554508,279.595168,0.009428,16,0
22,myemail.constantcontact.com,1693,0.137626,233,0.239811,3.180154,234.949793,0.014176,24,0
23,reddit.com,1678,0.716925,1203,0.513111,1.664482,85.278308,0.000000,0,0
24,instagram.com,1663,0.920024,1530,0.889357,1.125075,12.948286,0.000000,0,0
25,mail.google.com,1621,0.272054,441,0.313387,2.439235,235.534238,0.007403,12,0
26,abc13.com,1461,0.740589,1082,0.134155,1.628337,47.159480,0.000000,0,0
27,suburbancyclists.org,1437,0.599861,862,0.302018,2.986778,189.997216,0.001392,2,0
28,cyclesdeoro.com,1401,0.653819,916,0.510350,2.437545,115.024982,0.000000,0,0
29,bicyclecolorado.org,1372,0.662536,909,0.305394,2.435131,151.392128,0.005102,7,0
...,...,...,...,...,...,...,...,...,...,...
4971,bikemstanglewood.org,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4972,bikenewportbeach.org,1,1.000000,1,0.000000,5.000000,128.000000,0.000000,0,0
4973,bikepacking.net,1,0.000000,0,0.000000,2.000000,21.000000,0.000000,0,0
4974,bikepaths.com,1,1.000000,1,0.000000,2.000000,69.000000,0.000000,0,0
4975,bikeradar.com,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4976,bikesand.squarespace.com,1,0.000000,0,1.000000,1.000000,0.000000,0.000000,0,0
4977,bikesandbeersacrossamerica.squarespace.com,1,1.000000,1,0.000000,2.000000,7.000000,0.000000,0,0
4978,bikethedrive.org,1,0.000000,0,1.000000,1.000000,0.000000,0.000000,0,0
4979,bikexchange.com,1,1.000000,1,0.000000,1.000000,52.000000,0.000000,0,0
4980,bikingpugetsound.com,1,1.000000,1,0.000000,2.000000,97.000000,0.000000,0,0
4981,binghamcyclery.com,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4982,bioclinica.com,1,0.000000,0,0.000000,2.000000,11.000000,0.000000,0,0
4983,birmingham365.org,1,0.000000,0,1.000000,1.000000,0.000000,0.000000,0,0
4984,bitecharge.com,1,1.000000,1,0.000000,1.000000,0.000000,0.000000,0,0
4985,bl-ux-wpd1.na.dir.bunge.com,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4986,blairport,1,0.000000,0,0.000000,1.000000,0.000000,0.000000,0,0
4987,blayneholland.com,1,0.000000,0,0.000000,1.000000,0.000000,0.000000,0,0
4988,blog.al.com,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4989,blog.axc.net,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4990,blog.baxterauto.com,1,1.000000,1,0.000000,2.000000,17.000000,0.000000,0,0
4991,blog.chron.com,1,0.000000,0,0.000000,1.000000,0.000000,0.000000,0,0
4992,blog.hepdata.com,1,0.000000,0,1.000000,1.000000,0.000000,0.000000,0,0
4993,blog.memorialhermann.org,1,0.000000,0,0.000000,3.000000,21.000000,0.000000,0,0
4994,blog.muckfestms.com,1,0.000000,0,0.000000,4.000000,66.000000,0.000000,0,0
4995,blog.petetheplanner.com,1,1.000000,1,0.000000,2.000000,3.000000,0.000000,0,0
4996,blog.thesmithlife.com,1,1.000000,1,0.000000,3.000000,441.000000,0.000000,0,0
4997,blog.ticketbud.com,1,1.000000,1,0.000000,1.000000,45.000000,0.000000,0,0
4998,blog.timesunion.com,1,1.000000,1,1.000000,1.000000,0.000000,0.000000,0,0
4999,blog.tri-citiesguide.org,1,1.000000,1,0.000000,4.000000,250.000000,0.000000,0,0
5000,Total,1808023,0.533102,963860,0.471142,2.080386,150.738925,0.002157,3900,0

# FIRST PRIORITY: CORPORATE ACQUISITION
  * What are the greatest growth opportunities for new corporate teams?
  * Can we apply those opportunities to specific rides/markets, especially our biggest events?
  * What industries have had the strongest involvement in Bike MS in the last five years?
  * What occupations were responsible for most of our fundraising?
  * Can we tie together these industries and occupations to identify gaps/opportunities?
  * What is the common denominator for our top performing corporate teams? (Is it industry, culture, executive involvement, connection to MS, other?)
  * Can we quantify the effect competing events are having in our top markets? 
Top competitors:
   1. Best Buddies
     * HYANNIS PORT June 2, 2018 Boston to Hyannis Port, MA
     * HEARST CASTLE September 8, 2018 San Simeon, CA
     * MIAMI November 16, 2018 Miami, FL
   2. Peddle the Cause
     * Louis
     * San Diego
   3. Pelatonia – OH
   4. PanMass Challenge - Boston
   5. ADA – Tour de Cure
   6. Jude Children’s Research Hospital
   7. JDRF Ride to Cure Diabetes
   8. Cycle for Life - Cystic Fibrosis Foundation
   9. Ride to Recovery
   10. Virtual Cycling
   11. Athletic Club Stationary Cycling Relays
   12. American Cancer Society
   13. Leukemia and Lymphoma Society – Team in Training

# SECOND PRIORITY: DIGITAL/SOCIAL ACQUISITION
  * What are the greatest opportunities for digital marketing investments? Where have we seen the greatest ROI?
  * Once someone is registered, what tactics and behaviors drive fundraising, and at what times leading up to the event?
  * What behavioral data do you see about usage of our fundraising tools and how it may or may not relate to performance of top fundraisers?
  * Despite increasing our digital advertising spend, acquisition continues to trend downward overall. Why? Is it an issue of needing more traffic, better targeting, or a conversion rate issue that needs to be addressed through the registration process? What can we do to reverse the trend?

# FINALLY:
  * As you studied this data, is there something else that came up as an insight into our operations that the questions above do not capture?

# Descriptive Analytics